{% extends 'base.html' %}
{% block title %}{{ board.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'courses:course_index' %}">Courses</a></li>
    <li class="breadcrumb-item active">{{ course.name }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <tr>
        <th>Course</th>
        <th>课号</th>
        <th>教师</th>
    </tr>
    <tr>
        <td>{{ course.name }}</td>
        <td>{{ course.num }}</td>
        <td>{{ course.teacher }}</td>
    </tr>
</table>
{% if course.board != None %}
<a class="btn btn-sm btn-primary" href="{% url 'boards:topics' course.board.id %}">{{ course.name }}讨论区</a>
{% endif %}
{% endblock %}