{% extends 'base.html' %}
{% block title %}Courses{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Courses</li>
{% endblock %}
{% block content %}
    <h2>courses</h2>
    <p>This is index page.</p>
    <table class="table">
        <tr>
            <th>Course</th>
            <th>课号</th>
            <th>教师</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td class="align-middle"><a href="{% url 'courses:course_details' course.id %}">{{ course.name }}</a></td>
            <td class="align-middle">{{ course.num }}</td>
            <td class="align-middle">{{ course.teacher }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}