{% extends 'base.html' %}
{% block title %}{{ board.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'boards:board_index' %}">Boards</a></li>
    <li class="breadcrumb-item active">Topics</li>
{% endblock %}

{% block content %}
    <div class="mb-4">
        <a href="{% url 'boards:new_topic' board.id %}" class="btn btn-primary">New topic</a>
    </div>
    <table class="table">
        <tr>
            <th>Topic</th>
            <th>Replies</th>
            <th>Views</th>
            <th>updated_at</th>
        </tr>
        {% for topic in board.topics.all %}
        <tr>
            <td><a href="{% url 'boards:topic_posts' topic.board.id topic.id %}">{{ topic.subject }}</a></td>
            <td>0</td>
            <td>{{ topic.views }}</td>
            <td><small>{{ topic.last_updated }}</small></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}